---
import Base from '@/layouts/Base.astro'
import {
  GITHUB_REPO_URL,
  GET_STARTED_LINK,
  PROJECT_NAME,
  DEFAULT_LANGUAGE_CODE,
} from '@/config'
import { type LandingPageObj } from '@/i18n/ui'

const { t } = Astro.props as { t: LandingPageObj }

const lang = Astro.url.pathname.split('/')[1] || DEFAULT_LANGUAGE_CODE
---

<Base>
  <div class="flex h-[calc(100dvh-80px)] items-center justify-center pb-20">
    <div class="mx-auto w-[1300px] max-w-full px-5">
      <div class="flex flex-col items-center">
        <h1
          class="mx-auto w-[800px] bg-gradient-to-b from-darkModeBg to-darkModeBg/60 bg-clip-text text-center text-4xl font-light leading-[1.4] text-transparent dark:from-lightModeBg dark:to-lightModeBg/60 w900:w-full w600:text-2xl"
        >
          {PROJECT_NAME}
        </h1>
        <p
          class="mx-auto mt-7 w-[900px] text-center text-lg leading-relaxed tracking-wide opacity-80 w900:w-full w600:text-base"
        >
          {t.description}
        </p>
        
        <!-- Logo decoration above About Me button -->
        <div class="mt-12 flex justify-center w600:mt-9">
          <img 
            src="/images/logo4_day.png" 
            alt="Blog decoration logo" 
            class="h-20 w-auto opacity-80 hover:opacity-100 transition-opacity duration-300 w600:h-18 w400:h-16 dark:hidden"
          />
          <img 
            src="/images/logo4_night.png" 
            alt="Blog decoration logo" 
            class="h-20 w-auto opacity-80 hover:opacity-100 transition-opacity duration-300 w600:h-18 w400:h-16 hidden dark:block"
          />
        </div>
        
        <div class="mt-12 flex items-center w600:mt-9">
          <a
            href={`/${lang}${GET_STARTED_LINK}`}
            class="flex h-12 items-center justify-center rounded-2xl border border-[#374151] px-6 text-center text-lg text-[#374151] transition-all duration-300 ease-out hover:bg-[#374151] hover:text-white hover:scale-[1.05] active:scale-[0.95] focus:outline-none focus:ring-2 focus:ring-[#374151]/40 focus:ring-offset-2 focus:ring-offset-white w600:text-base w400:h-10 w400:px-3 dark:border-[#e5e7eb] dark:text-[#e5e7eb] dark:hover:bg-[#e5e7eb] dark:hover:text-[#2b5876] dark:focus:ring-[#e5e7eb]/40 dark:focus:ring-offset-[#2b5876]"
            >{t.getStartedBtnText}
          </a>
        </div>
      </div>
    </div>
  </div>
</Base>
